/* === CARRITO === */
.section-carrito {
    display: flex;
    justify-content: space-around;
    margin-left: 20vh;

    .form-carrito {
        width: 80vh;

        form {

            h2 {
                font-size: $font + 4;
            }

        }
    }

    .resumen-carrito {
        width: 70vh;

        table {
            background-color: $transparencia;
            text-align: left;
            border-collapse: collapse;
            width: 75%;

            tr {
                td {
                    font-size: $font;
                    padding: 15px;
                    width: 20em;

                    img {
                        width: 7em;
                    }
                }
            }

        }
    }
}