* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

// PALETA DE COLORES ----
$negro: #000100;
$blanco: #F5F5F5;
$gris: #444444;
$lila: #C3ACB8;
$lavanda: #D7C1D7;

// TIPOGRAFIA 
$font: 20px;

/* === GENERAL === */
body {
  background-image: url(/media/bg.PNG);
  background-repeat: space repeat;
  color: $negro;
  font-family: "Oswald", sans-serif;
}

.botones {
  font-weight: bold;
  font-size: $font;
  padding: 10px;
  margin-top: 10px;
  background-color: $lila;
}

p {
  margin: 0px;
  font-size: $font;
}

ol,ul {
  padding-left: 0px;
}
