header {
  background-color: $negro;
  color: $blanco;
  margin-bottom: 50px;
  box-shadow: 0px 0px 15px 0px $negro;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  font-size: $font + 18;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  nav {
    div {
      display: flex;
      justify-content: flex-end;

      .logo {
        font-size: $font * 3;
        font-style: italic;
      }

      a {
        text-transform: uppercase;
        margin: 20px;
      }
    }
  }

  h1 {
    display: none;
  }
}