/* ----------- SMARTPHONE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  /*--- GENERAL ---*/
  header {
    nav {

      div {
        align-items: flex-end;

        a {
          margin: 5px;
        }
      }
    }
  }

  footer {
    font-size: 1rem;
    .footer-content {
      flex-direction: column;
      align-items: center;

      .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
      }
    }

  }

  /*--- INDEX ---*/
  .img-mobile {
    width: 20em;
  }

  .div-cuadros {
    .boxes {
      h2 {
        font-size: 1rem;
      }
    }
  }

  /*--- PRODUCTOS ---*/
  .menu-nav {
    background-color: $transparencia;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 5px 0px;

    ol {
      margin-bottom: 0px;
      justify-content: center;
    }
  }

  .container-productos {
    display: flex;
    flex-direction: column;

    .categorias {
      margin: 0;
      padding: 0;

      h2 {
        text-align: center;
        margin-bottom: 0;
      }

      ul {
        display: flex;
        justify-content: center;

        li {
          padding: 10px;
        }
      }
    }

    .section-productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 0px;

      .card-product {
        width: 100%;

        .img-container {
          width: 22em;
        }
      }
    }
  }

  /*--- CARRITO ---*/
  .section-carrito {
    display: flex;
    flex-direction: column-reverse;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    .form-carrito {
      padding-top: 60px;
      margin-right: auto;
      margin-left: auto;
      width: 80%;
    }

    .resumen-carrito {
      margin-right: auto;
      margin-left: auto;
      width: 75%;

      table {
        text-align: center;
      }
    }
  }

  /*--- CONTACTO ---*/
  .section-contacto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .div-contacto {
      margin-top: 0px;
      justify-content: center;

      div {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .form-contacto {
      margin-top: 50px;

      section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
      }
    }
  }

  /*--- INFO ---*/
  .info {
    h2 {
      padding: 18px;
    }

    .info-pregunta {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

/* ----------- TABLET ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  /*--- GENERAL ---*/
  header {
    nav {
      div {
        align-items: flex-end;

        a {
          margin: 5px;
        }
      }
    }
  }

  footer {
    .footer-content {
      justify-content: space-around;
      margin-bottom: 25px;
    }
  }

  /*----INDEX----*/
  .div-cuadros {
    .boxes {
      h2 {
        font-size: 1rem;
      }

      p {
        font-size: .9rem;
      }
    }
  }

  /*--- PRODUCTOS ---*/
  .menu-nav {
    background-color: $transparencia;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px 0px;

    ol {
      margin-bottom: 0px;
      justify-content: center;
    }
  }

  .container-productos {
    display: flex;
    flex-direction: column;

    .categorias {
      text-align: center;

      ul {
        display: flex;
        justify-content: center;

        li {
          a {
            margin: 10px;
          }
        }
      }
    }

    .section-productos {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .card-product {
        width: 85%;
        justify-self: center;
        text-align: center;

        .img-container {
          img {
            width: 20em;
          }
        }
      }
    }
  }

  /*--- CARRITO ---*/
  .section-carrito {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;

    .form-carrito {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .resumen-carrito {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;

      table {
        text-align: center;
      }
    }
  }

  /*--- CONTACTO ---*/
  .section-contacto {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    .div-contacto {
      width: 60%;
      margin: auto;

      div {
        margin-top: 40px;
        font-size: 1.1rem;
      }
    }

    .form-contacto {
      margin-top: 80px;

      section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  /*--- INFO ---*/
  .info{
    .info-pregunta{
      font-size: 1.1rem;
    }
  }
}