/* Smartphone ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

  /*---- GENERAL ----*/
  header {
    font-size: $font + 8;

    nav {
      div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        a {
          margin: 5px;
        }
        .logo {
          font-size: $font * 2;
        }
      }
    }
  }

  footer {
    font-size: $font - 4;

    .footer-content {
      flex-direction: column;
      align-items: center;

      .footer-info {
        display: flex;

        li:first-of-type {
          margin-right: 20px;
        }
      }

      .footer-redes {
        li {
          i {
            font-size: $font + 4;
          }
        }
      }
    }
  }

  /*---- INDEX ----*/
  .img-mobile {
    width: 20em;
  }

  .cuadro-uno,
  .cuadro-dos,
  .cuadro-tres {
    border-left: none;
    border-right: none;
    border-top: solid 1px $gris;
    border-bottom: solid 1px $gris;
  }

  /*---- PRODUCTOS ----*/
  .menu-nav{
   display: none;
  }.container-productos {
    display: flex;
    flex-direction: column;

    .categorias {
      margin: 0;
      padding: 0;


      h2 {
        text-align: center;
        margin-bottom: 0;
      }

      ul {
     display: flex;
     justify-content: center;

        li {
          padding: 10px;
        
        }
      }
    }

    .section-productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 0px;

      .card-product {
        width: 100%;

        .img-container {
          width: 22em;
        }
      }
    }
  }

  /*---- CONTACTO ----*/
  .section-contacto {
    display: flex;
    flex-direction: column;
  

    .div-contacto {
      margin-top: 0;
      margin-bottom: 30px;

      div {      
      margin: auto;
      width: 50vh;
      padding: 30px;
      border-radius: 0;
    }
  }

    .form-contacto {
      section {
        justify-content: center;
        margin: auto;
        width: 50vh;
      }
    }
  }

  /*---- INFO ----*/
  .info {
    .info-pregunta {
      font-size: $font;
      padding: 10px;
    }
    p {
      font-size: $font;
    }
  }

  /*---- CARRITO ----*/
  .section-carrito {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    width: 40vh;
    
    .form-carrito {
      width: auto;
      padding-top: 60px;
      justify-content: center;
      margin: auto;
      form {

        div {
          input,select {
            width: 37vh;
          }
        }
      }
    }
    .resumen-carrito {
        width: auto;
    }
  }
}

/* Tablet ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  /*---- GENERAL ----*/
  nav {
    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  p {
    font-size: $font + 4;
  }

  footer {
    font-size: $font + 2;

    .footer-content {
      justify-content: space-around;
    }
  }

  /*----INDEX----*/
  .cuadro-uno,
  .cuadro-dos,
  .cuadro-tres {
    border: solid 2px $negro;
  }

  /*---- PRODUCTOS ----*/
  .container-productos {
    display: flex;
    flex-direction: column;

    .categorias {
   
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
      ul {
        display: flex;
        justify-content: center;      
        li {
          a {
            font-size: $font + 5;
            margin: 10px;
          }
        }
      }
    }

    .section-productos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      padding-top: 0px;
      .card-product {
        width: 80%;
      }
    }
  }

  /*---- CONTACTO ----*/
  .form-contacto {
    display: none;
  }

  #wpp {
    padding: 50px 30vh;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  /*---- CARRITO ----*/
  .section-carrito {
    margin-left: 40px;

    .carrito {
      table {
        width: 30vh;

        td {
          font-size: $font + 5;
        }
      }
    }
  }
}