/* === PRODUCTOS === */
.section-productos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;

    .card-product {
        width: 33.333333%;
        font-family: sans-serif;

        a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }

        .img-container {
            overflow: hidden;
            height: 400px;
            position: relative;

            img {
                width: 100%;
                position: absolute;
                top: -25%;
                transition: all 0.5s;
            }
        }
    }
}