/* === PRODUCTOS === */
.section-productos {
    display: flex;
    justify-content: space-evenly;

    .categorias {
        display: inline-block;
        margin-right: 40px;
        margin-left: 30px;
        padding: 40px;
    }

    .productos {
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-template-areas:
            "batik buzo gorro1"
            "gorro2 pant reme";

        .articleProductos {
            width: 100%;
            border: solid 1px $negro;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 1em;
            background: linear-gradient(30deg, $lila, $blanco);

            .img-product {
                width: auto;
                height: 12em;
                padding: 10px;
            }
        }
    }
}

#buzo-batik {
    grid-area: batik;
    justify-self: center;
    grid-row: 1;
    grid-column: 1;
}

#buzo-notte {
    grid-area: buzo;
    justify-self: center;
    grid-row: 1;
    grid-column: 2;
}

#gorro-negro {
    grid-area: gorro1;
    justify-self: center;
    grid-row: 1;
    grid-column: 3;
}

#gorro-violeta {
    grid-area: gorro2;
    justify-self: center;
    grid-row: 2;
    grid-column: 1;
}

#pant-notte {
    grid-area: pant;
    justify-self: center;
    grid-row: 2;
    grid-column: 2;
}

#reme-stripped {
    grid-area: reme;
    justify-self: center;
    grid-row: 2;
    grid-column: 3;
}